h2 {
    margin-top: 3px;
    margin-bottom: 5px;
}

td.numeric {
    text-align: right;
}

a>span.delete {
    margin-left: 5px;
}

a>span.options {
    margin-left: 10px !important;
    margin-right: -7px;
}