<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>stock-o-mat: personal stock machine (BackboneJS version)</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">stock-o-mat: personal stock machine (bb)</h1>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="quotesApp">
        <div class="panel panel-default">
            <div class="panel-heading">
              <a href=""><span class="fa fa-cog pull-right text-primary"></span></a>
              <h2>Today quotes</h2>
              <span>Updated: 15 minutes ago</span>
            </div>
            <table class="table table-hover" id="quotes"></table>
        </div>
        <form class="form-inline text-right" id="addSymbolForm">
          <div class="form-group">
            <label class="sr-only" for="symbolText">Quote symbol</label>
            <input type="text" class="form-control" id="symbolText" name="symbolText" placeholder="Enter quote symbol" required>
          </div>
          <button class="btn btn-default" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Replace with appropriate Require.JS configuration
  <script data-main="js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
  -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.7/backbone.localStorage-min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="js/templates_utils.js"></script>
  <script src="js/main.js"></script>

  <!-- Templates -->
  <script type="text/template" id="quotes-list-template">
    <tbody>
      <% _.each(quotes, function(quote) { %>
      <% var quotePriceChange = quote.get('priceChange'); %>
      <% var priceStyle = getPriceStyle(quotePriceChange); %>
      <tr>
        <td><%= htmlEncode(quote.get('id')) %></td>
        <td class="numeric text-info"><%= htmlEncode(quote.get('price')) %></td>
        <td class="numeric <%= priceStyle %>"><%= htmlEncode(quotePriceChange) %></td>
        <td class="numeric <%= priceStyle %>"><%= htmlEncode(quote.get('percentChange')) %>&nbsp;%</td>
      </tr>
      <% }); %>
    </tbody>
  </script>
</body>
</html>
